# • Pandas

###### Import

In [1]:
import pandas as pd

###### Create data frame

In [2]:
first_data_frame = pd.DataFrame( { 'Ahmed ' : [ 'hello ', 'pandas '] ,'Zidane' : ['This is ','Data Frame'] },  index = ['x','y'] )
print(first_data_frame)

    Ahmed       Zidane
x   hello     This is
y  pandas   Data Frame

###### Create Series

In [3]:
# pd.series( [data], index = [])
pd.Series( [99,80,70] , index = ['Model A accuracy','Model B accuracy','Model C accuracy'] , name='Zidane series')

Model A accuracy    99
Model B accuracy    80
Model C accuracy    70
Name: Zidane series, dtype: int64

###### Read from csv file

In [4]:
house_data = pd.read_csv("MELBOURNE_HOUSE_PRICES_LESS.csv")

###### Review data

In [5]:
house_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

###### Review shape

In [6]:
house_data.shape

(63023, 13)

###### Save to csv

In [7]:
#house_data.to_csv("MELBOURNE_HOUSE_PRICES_LESS.csv")

###### Accessing specific elements

In [8]:
house_data.Price #ALl price columns

0        1490000.0
1        1220000.0
2        1420000.0
3        1515000.0
4         670000.0
           ...
63018     566000.0
63019     500000.0
63020     545000.0
63021          NaN
63022          NaN
Name: Price, Length: 63023, dtype: float64

In [9]:
house_data['Price'] #ALl price columns

0        1490000.0
1        1220000.0
2        1420000.0
3        1515000.0
4         670000.0
           ...
63018     566000.0
63019     500000.0
63020     545000.0
63021          NaN
63022          NaN
Name: Price, Length: 63023, dtype: float64

In [10]:
house_data.Price[0:10] # Specific rows

0    1490000.0
1    1220000.0
2    1420000.0
3    1515000.0
4     670000.0
5     530000.0
6     540000.0
7     715000.0
8          NaN
9    1925000.0
Name: Price, dtype: float64

In [11]:
house_data.Price[:10] #same as [0:10]

0    1490000.0
1    1220000.0
2    1420000.0
3    1515000.0
4     670000.0
5     530000.0
6     540000.0
7     715000.0
8          NaN
9    1925000.0
Name: Price, dtype: float64

In [12]:
house_data['Price'][2]

1420000.0

In [13]:
house_data.iloc[0]

Suburb                      Abbotsford
Address                  49 Lithgow St
Rooms                                3
Type                                 h
Price                        1490000.0
Method                               S
SellerG                         Jellis
Date                         1/04/2017
Postcode                          3067
Regionname       Northern Metropolitan
Propertycount                     4019
Distance                           3.0
CouncilArea         Yarra City Council
Name: 0, dtype: object

###### index-based selection for rows we use .iloc[]

In [14]:
house_data.iloc[1]

Suburb                      Abbotsford
Address                  59A Turner St
Rooms                                3
Type                                 h
Price                        1220000.0
Method                               S
SellerG                       Marshall
Date                         1/04/2017
Postcode                          3067
Regionname       Northern Metropolitan
Propertycount                     4019
Distance                           3.0
CouncilArea         Yarra City Council
Name: 1, dtype: object

In [15]:
house_data.iloc[3]

Suburb                           Aberfeldie
Address                          68 Vida St
Rooms                                     3
Type                                      h
Price                             1515000.0
Method                                    S
SellerG                               Barry
Date                              1/04/2017
Postcode                               3040
Regionname             Western Metropolitan
Propertycount                          1543
Distance                                7.5
CouncilArea      Moonee Valley City Council
Name: 3, dtype: object

In [16]:
# To select third and forth rows for example as we start from zero
house_data.iloc[ 2:4 , 0 ]

2    Abbotsford
3    Aberfeldie
Name: Suburb, dtype: object

In [17]:
#to choose a specific rows, we could use a list
house_data.iloc[[5,7,15],0]

5       Airport West
7       Airport West
15    Altona Meadows
Name: Suburb, dtype: object

In [18]:
# To select last element
house_data.iloc[-1]

Suburb               Williams Landing
Address                   1 Diadem Wy
Rooms                               4
Type                                h
Price                             NaN
Method                             SP
SellerG                        Aussie
Date                       31/03/2018
Postcode                         3027
Regionname       Western Metropolitan
Propertycount                    1999
Distance                         17.6
CouncilArea      Wyndham City Council
Name: 63022, dtype: object

In [19]:
# To select last 7 elements
house_data.iloc[-7:]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
63016,Frankston,4/34 Petrie St,2,u,347700.0,SP,Aquire,31/03/2018,3199,South-Eastern Metropolitan,17055,38.0,Frankston City Council
63017,Preston,229 Murray Rd,3,h,808000.0,S,RW,31/03/2018,3072,Northern Metropolitan,14577,8.4,Darebin City Council
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [20]:
#to select a specific element using .loc
house_data.loc[63017,'Address']

'229 Murray Rd'

In [21]:
#to select a specific element
house_data['Address'][63017]

'229 Murray Rd'

In [22]:
house_data.loc[  0:10 , ['Suburb','Address','Regionname','Postcode'] ]

          Suburb             Address             Regionname  Postcode
0     Abbotsford       49 Lithgow St  Northern Metropolitan      3067
1     Abbotsford       59A Turner St  Northern Metropolitan      3067
2     Abbotsford       119B Yarra St  Northern Metropolitan      3067
3     Aberfeldie          68 Vida St   Western Metropolitan      3040
4   Airport West    92 Clydesdale Rd   Western Metropolitan      3042
5   Airport West        4/32 Earl St   Western Metropolitan      3042
6   Airport West      3/74 Hawker St   Western Metropolitan      3042
7   Airport West   1/26 Highridge Cr   Western Metropolitan      3042
8      Albanvale       1 Jackson Cct   Western Metropolitan      3021
9    Albert Park         18 Mills St  Southern Metropolitan      3206
10        Albion  3/15 Drummartin St   Western Metropolitan      3020

###### manpulating the index

In [23]:
#This is useful if you can come up with an index for the dataset which is better than the current one.
house_data.set_index("Address")

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
Address,,,,,,,,,,,,
49 Lithgow St,Abbotsford,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
59A Turner St,Abbotsford,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
119B Yarra St,Abbotsford,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
68 Vida St,Aberfeldie,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
92 Clydesdale Rd,Airport West,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...
3 Carr Pl,Roxburgh Park,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
9 Parker Ct,Roxburgh Park,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
5 Parkinson Wy,Roxburgh Park,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
3/1 Travers St,Thomastown,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
1 Diadem Wy,Williams Landing,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

###### Conditional selection

In [24]:
house_data.Distance == 15.3

0        False
1        False
2        False
3        False
4        False
         ...
63018    False
63019    False
63020    False
63021     True
63022    False
Name: Distance, Length: 63023, dtype: bool

In [25]:
house_data.loc[house_data.Distance == 15.3]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
611,Thomastown,115 Bickley Av,3,h,580000.0,S,Harcourts,1/04/2017,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
612,Thomastown,1 Burwood Ct,3,h,745000.0,S,Barry,1/04/2017,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
613,Thomastown,4 Cipora Pl,3,h,576000.0,S,Love,1/04/2017,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
614,Thomastown,2/12 Frederick St,3,u,517000.0,S,Harcourts,1/04/2017,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
615,Thomastown,16 Queenscliff Rd,3,h,525000.0,S,Barry,1/04/2017,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62941,Thomastown,4/327 High St,2,u,261500.0,S,HAR,30/12/2017,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
62942,Thomastown,76 Lincoln Dr,3,h,625000.0,S,Barry,30/12/2017,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
62943,Thomastown,1 Waratah St,3,h,925000.0,S,Ray,30/12/2017,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
62944,Thomastown,7 Yilleen Cl,4,h,NaN,SP,Barry,30/12/2017,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council

In [26]:
house_data.loc[(house_data.Method == 'S') & (house_data.Postcode >= 90)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63008,Yarraville,4/247 Williamstown Rd,3,t,NaN,S,Jas,30/12/2017,3013,Western Metropolitan,6543,6.3,Maribyrnong City Council
63017,Preston,229 Murray Rd,3,h,808000.0,S,RW,31/03/2018,3072,Northern Metropolitan,14577,8.4,Darebin City Council
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council

In [27]:
house_data.loc[(house_data.Method == 'S') |  (house_data.Postcode >= 90)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [28]:
house_data.loc[house_data.Address.isin(['Williams Landing', 'Thomastown'])]

Empty DataFrame
Columns: [Suburb, Address, Rooms, Type, Price, Method, SellerG, Date, Postcode, Regionname, Propertycount, Distance, CouncilArea]
Index: []

In [29]:
house_data.loc[house_data.Price.notnull()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63016,Frankston,4/34 Petrie St,2,u,347700.0,SP,Aquire,31/03/2018,3199,South-Eastern Metropolitan,17055,38.0,Frankston City Council
63017,Preston,229 Murray Rd,3,h,808000.0,S,RW,31/03/2018,3072,Northern Metropolitan,14577,8.4,Darebin City Council
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council

###### Assigning data

In [30]:
house_data['Address'] = 'Cairo'

In [31]:
house_data.head(15)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,Cairo,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,Cairo,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,Cairo,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,Cairo,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,Cairo,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
5,Airport West,Cairo,2,t,530000.0,S,Jellis,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
6,Airport West,Cairo,2,u,540000.0,S,Barry,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
7,Airport West,Cairo,3,h,715000.0,SP,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
8,Albanvale,Cairo,6,h,NaN,PI,hockingstuart,1/04/2017,3021,Western Metropolitan,1899,14.0,Brimbank City Council
9,Albert Park,Cairo,3,h,1925000.0,S,Cayzer,1/04/2017,3206,Southern Metropolitan,3280,3.0,Port Phillip City Council
10,Albion,Cairo,3,u,515000.0,S,Douglas,1/04/2017,3020,Western Metropolitan,2185,10.5,Brimbank City Council
11,Albion,Cairo,4,h,717000.0,S,Bells,1/04/2017,3020,Western Metropolitan,2185,10.5,Brimbank City Council
12,Alphington,Cairo,2,h,1675000.0,S,Miles,1/04/2017,3078,Northern Metropolitan,2211,5.7,Darebin City Council
13,Alphington,Cairo,4,h,2008000.0,S,Jellis,1/04/2017,3078,Northern Metropolitan,2211,5.7,Darebin City Council
14,Altona,Cairo,2,h,860000.0,SP,Barlow,1/04/2017,3018,Western Metropolitan,5301,11.0,Hobsons Bay City Council

In [32]:
house_data['Rooms'] = range(len(house_data), 0, -1)
house_data.head(6)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,Cairo,63023,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,Cairo,63022,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,Cairo,63021,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,Cairo,63020,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,Cairo,63019,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
5,Airport West,Cairo,63018,t,530000.0,S,Jellis,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

###### Functions and maps

In [33]:
house_data.describe()

              Rooms         Price      Postcode  Propertycount      Distance
count  63023.000000  4.843300e+04  63023.000000   63023.000000  63023.000000
mean   31512.000000  9.978982e+05   3125.673897    7617.728131     12.684829
std    18193.317345  5.934989e+05    125.626877    4424.423167      7.592015
min        1.000000  8.500000e+04   3000.000000      39.000000      0.000000
25%    15756.500000  6.200000e+05   3056.000000    4380.000000      7.000000
50%    31512.000000  8.300000e+05   3107.000000    6795.000000     11.400000
75%    47267.500000  1.220000e+06   3163.000000   10412.000000     16.700000
max    63023.000000  1.120000e+07   3980.000000   21650.000000     64.100000

In [34]:
house_data.mean()

Rooms             31512.000000
Price            997898.241488
Postcode           3125.673897
Propertycount      7617.728131
Distance             12.684829
dtype: float64

In [35]:
house_data.Distance.unique()

array([ 3. ,  7.5, 10.4, 14. , 10.5,  5.7, 11. , 15.5,  9.4,  6.3,  4.3,
       10.2, 21.5, 16.5,  9.5,  7.9,  9.7, 23.2, 17.3,  8.8, 11.4, 13.8,
       13.4, 27. , 25. , 10.9,  8.6, 10.3,  5.2,  4. , 10.8, 12.1, 14.7,
        7.7,  8.4,  1.6,  3.5, 10.1, 14.8, 31.2, 34.9,  7.8,  8.7, 11.7,
       17.9, 44.2, 16.7, 17.5,  3.6,  6.7,  2. , 20.6, 34.7, 23. , 24.7,
       37.5, 18. , 21.8, 22.2, 12.4, 14.3, 16.1,  8.9,  1.3,  7.2, 28.5,
       19.6,  8.2, 13.1, 24.8,  2.1,  5.1, 15.4, 38. , 36.9, 12.9,  7.3,
       11.2, 20.4,  5.3, 21.3, 16. , 18.4, 12.3,  3.4,  5.4, 25.2,  6.4,
       23.3, 31.7, 16.3, 29.9, 12.7,  5.9, 17.4,  0. , 20. , 25.9, 17.2,
       16.2,  6.2, 26.5, 14.2, 18.8, 34.1, 22.7,  1.8, 47.3,  8.5, 20.1,
        4.6, 12. ,  2.4, 47.4, 19.9, 23.5, 15.2, 35.4,  1.9, 20.5,  2.7,
        0.7, 20.8,  5. , 15.3,  7. ,  4.1, 21.1,  3.1,  6.8, 25.5, 27.2,
       12.8, 35.2, 43.4, 28.8, 45.9, 32.3, 45.2, 14.6, 33.8, 29.8, 23.8,
       30.4, 17.6, 14.5, 27.1, 33.3, 29.5, 16.6, 27.7, 18.7, 41. ,  1.4,
       23.6, 26. , 48.1, 24.3, 29.3, 39. , 47. , 28.4, 43.3, 31.6, 26.1,
       35.5, 34.6, 64.1, 42.1, 22.9, 30.6, 19.5, 39.8, 33. , 31.4, 30.1,
       32.6, 55.8, 23.4, 49.3])

In [36]:
house_data.Propertycount.value_counts()

21650    1241
8870     1043
10969     845
13366     831
14949     822
         ...
622         1
1075        1
335         1
83          1
96          1
Name: Propertycount, Length: 368, dtype: int64

In [42]:
specific_house_data = house_data.mean()
specific_house_data.map(lambda p: p - specific_house_data)
specific_house_data

Rooms             31512.000000
Price            997898.241488
Postcode           3125.673897
Propertycount      7617.728131
Distance             12.684829
dtype: float64

In [43]:
def remean_points(row):
    row.Distance = row.Distance - specific_house_data
    return row

house_data.apply(remean_points, axis='columns')

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,Cairo,63023,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,Rooms -31509.000000 Price ...,Yarra City Council
1,Abbotsford,Cairo,63022,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,Rooms -31509.000000 Price ...,Yarra City Council
2,Abbotsford,Cairo,63021,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,Rooms -31509.000000 Price ...,Yarra City Council
3,Aberfeldie,Cairo,63020,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,Rooms -31504.500000 Price ...,Moonee Valley City Council
4,Airport West,Cairo,63019,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,Rooms -31501.600000 Price ...,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,Cairo,5,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,Rooms -31491.400000 Price ...,Hume City Council
63019,Roxburgh Park,Cairo,4,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,Rooms -31491.400000 Price ...,Hume City Council
63020,Roxburgh Park,Cairo,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,Rooms -31491.400000 Price ...,Hume City Council
63021,Thomastown,Cairo,2,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,Rooms -31496.700000 Price ...,Whittlesea City Council
63022,Williams Landing,Cairo,1,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,Rooms -31494.400000 Price ...,Wyndham City Council

In [44]:
house_data.head(1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,Cairo,63023,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council

###### Data type

In [46]:
house_data.dtypes

Suburb            object
Address           object
Rooms              int32
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Postcode           int64
Regionname        object
Propertycount      int64
Distance         float64
CouncilArea       object
dtype: object

In [48]:
house_data.Rooms.dtype

dtype('int32')

In [49]:
house_data.Rooms.astype('int64')

0        63023
1        63022
2        63021
3        63020
4        63019
         ...
63018        5
63019        4
63020        3
63021        2
63022        1
Name: Rooms, Length: 63023, dtype: int64

In [56]:
house_data[house_data.Rooms.isnull()]

Empty DataFrame
Columns: [Suburb, Address, Rooms, Type, Price, Method, SellerG, Date, Postcode, Regionname, Propertycount, Distance, CouncilArea]
Index: []

In [54]:
# fill NAN'not a number' with any word such as ' unknown '
house_data.Rooms.fillna(' Unknown ')

0        63023
1        63022
2        63021
3        63020
4        63019
         ...
63018        5
63019        4
63020        3
63021        2
63022        1
Name: Rooms, Length: 63023, dtype: int32

In [55]:
house_data.Regionname.replace('Western Metropolitan', 'Western cairo')

0        Northern Metropolitan
1        Northern Metropolitan
2        Northern Metropolitan
3                Western cairo
4                Western cairo
                 ...
63018    Northern Metropolitan
63019    Northern Metropolitan
63020    Northern Metropolitan
63021    Northern Metropolitan
63022            Western cairo
Name: Regionname, Length: 63023, dtype: object

###### Renaming and Combining

In [59]:
house_data_v1 = house_data.rename(columns = dict( Propertycount = 'Property_count' , Regionname = 'Region_name' ) )

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,Cairo,63023,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,Cairo,63022,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,Cairo,63021,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,Cairo,63020,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,Cairo,63019,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council